@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap);
@font-face {
  font-family: "Archia Regular";
  src: url(/public/Archia-Regular.woff);
}
img {
  max-width: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: #a74ce4;
}

body {
  background: #16171d;
  width: 100%;
  height: 100vh;
  height: -webkit-fill-available;
  font-family: "Quicksand", sans-serif;
}

/* Largura da barra de rolagem */
::-webkit-scrollbar {
  width: 8px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track-piece {
  background-color: #16171d;
  border-left: 1px solid #16171d;
}

/* Cor do indicador de rolagem */
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  background-color: #b86bfd;
  border-radius: 10rem;
}

/* Cor do indicador de rolagem - ao passar o mouse */
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #b86bfd;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 30px;
  grid: 1fr auto 1fr/1fr 1fr;
  grid-template-areas: "header header" "main main" "footer footer";
}

.header {
  grid-area: header;
  display: flex;
  padding: 3rem 1.875em 0 1.875em;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.header div {
  display: flex;
  align-items: center;
}
.header div strong {
  margin: 0 0 0 20px;
  padding: 0;
  font-size: clamp(10px, 1rem, 3vw);
}
.header ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
  flex-flow: row wrap;
}
.header ul li {
  padding: 0 0 0 30px;
}
.header ul li {
  font-size: clamp(10px, 1rem, 2vw);
}
.header ul a {
  color: #fff;
  text-decoration: none;
}
.header ul li img {
  transition: 1s;
  fill: #fff;
  border-radius: 50%;
}
.header ul li img:hover::after {
  content: "";
  background: #313131;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 0 30px;
  grid-template-areas: "buy content" "continents continents" "feedback feedback" "step step" "sumary sumary";
}
.main .continents {
  align-self: center;
}

.card-buy-now {
  padding: 13rem 0 0 0;
  grid-area: buy;
  color: #fff;
  line-height: 2.5rem;
  text-align: start;
  max-width: 30rem;
}
.card-buy-now .title {
  font-size: clamp(14px, 3.5rem, 4vw);
  line-height: 4rem;
}
.card-buy-now .sub-title {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  font-weight: 500;
  align-items: center;
  font-size: clamp(10px, 1.3rem, 3vw);
  color: rgba(137, 137, 137, 0.9);
}
.card-buy-now .sub-title a {
  color: #b86bff;
  text-decoration: none;
}
.card-buy-now .sub-title a:hover {
  text-decoration: underline;
}
.card-buy-now .sub-title span {
  color: #ed2251;
}
.card-buy-now .border {
  margin-top: 10px;
  display: block;
  border-bottom: 2px solid #b86bff;
  border-radius: 4px;
  margin: 20px 0 20px 0;
  width: 5rem;
}
.card-buy-now .learn {
  max-width: 25rem;
  margin-top: 20px;
  line-height: 2rem;
  font-weight: 600;
  font-size: clamp(10px, 1.3rem, 3vw);
  color: rgba(197, 197, 197, 0.9);
}
.card-buy-now .buybook {
  margin-top: 50px;
}
.card-buy-now .button {
  margin-top: 50px;
  font-family: "Quicksand", sans-serif;
}
.card-buy-now .button button {
  padding: 20px;
  font-size: clamp(10px, 1.2rem, 3vw);
  font-weight: 5600;
  outline: none;
  border: none;
  margin: 10px 0;
  border-radius: 4px;
  cursor: pointer;
  width: 13rem;
  color: rgba(51, 51, 51, 0.9);
}
.card-buy-now .button button:hover {
  background: #fefefe;
}
.card-buy-now .button button:nth-child(1) {
  background: #2dc25c;
  color: #fefefe;
  margin-right: 20px;
  animation: alternate ease-in-out linear 1s;
}
.card-buy-now .button button:nth-child(1):hover {
  background: #31c362;
}

.main .right-video {
  grid-area: content;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 11rem 0 0 0;
}
.main .right-video img {
  max-width: 40%;
  opacity: 0.2;
}
.main .right-video video {
  margin-top: 10px;
  max-width: 100%;
  border-radius: 10px;
}

.container-continents {
  padding: 5rem 0 0 0;
  grid-area: continents;
  display: flex;
  align-items: center;
  justify-content: center;
}

.continents {
  display: flex;
  align-items: center;
  background: rgba(245, 196, 0, 0.1);
  height: 6rem;
  padding: 20px;
  border: 2px solid #e9d733;
  border-radius: 10px;
  transition: 0.3s ease-in-out all;
}
.continents a {
  color: #fefefe;
  font-size: clamp(10px, 1.3rem, 3vw);
  text-decoration: none;
  padding: 20px;
}
.continents:hover {
  border-color: #31c362;
}

.feedback-container {
  grid-area: feedback;
  padding: 5rem 5rem 0 5rem;
  display: grid;
  gap: 100px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: flex-start;
  justify-content: flex-start;
}
.feedback-container .feedback-item {
  color: #fff;
}
.feedback-container .feedback-item h1 {
  font-size: clamp(12px, 2rem, 3vw);
  font-weight: 500;
}
.feedback-container .feedback-item p {
  margin-top: 20px;
  color: #696b8c;
  font-size: clamp(10px, 1.2rem, 3vw);
}
.feedback-container .feedback-item p strong {
  color: #fefefe;
}
.feedback-container .feedback-item .name {
  color: #43e594;
}
.feedback-container .feedback-item .second-name {
  color: #24b1d1;
}

.step-container {
  margin-top: 50px;
  grid-area: step;
}
.step-container .hr-top,
.step-container .hr-bottom {
  grid-area: hr;
  border: none;
  display: block;
  height: 3px;
  margin: 1.2rem 0 0 0;
  background: #262629;
}
.step-container .step {
  display: flex;
  margin: 30px 0 50px 0;
  flex-flow: column;
}
.step-container .step h2 {
  font-weight: 500;
  word-break: break-word;
  margin: 20px 0 40px 0;
}
.step-container .step span {
  color: #fefefe;
  font-size: clamp(10px, 1.49rem, 3vw);
  box-shadow: inset 0 -6px 0 rgba(184, 107, 255, 0.2);
}
.step-container .step figure {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
}
.step-container .step figure img {
  border-radius: 15px;
  max-width: 13rem;
  padding: 10px 10px;
}

.sumary {
  grid-area: sumary;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "learn included";
  gap: 100px;
  margin-top: 5rem;
  padding: 0 30px;
}
.sumary h2 span {
  box-shadow: inset 0 -6px 0 rgba(184, 107, 255, 0.2);
  font-size: clamp(10px, 1.7rem, 3vw);
  font-weight: 500;
  color: #fefefe;
}
.sumary .learn {
  grid-area: learn;
  line-height: 2rem;
}
.sumary .learn ul {
  margin: 40px 0 0 20px;
  list-style: none;
}
.sumary .learn ul li {
  padding-left: 20px;
  font-size: clamp(10px, 0.9rem, 3vw);
  position: relative;
  color: #777777;
  font-weight: 500;
}
.sumary .learn ul li strong {
  color: #fefefe;
}
.sumary .learn ul li::before {
  border: 2px solid transparent;
  border-radius: 2px;
  content: "";
  height: 8px;
  left: 0;
  position: absolute;
  top: 14px;
  transform: rotate(45deg);
  transform-origin: center;
  width: 8px;
}
.sumary .learn ul li[name=primary]::before {
  border-right-color: #ff470f;
  border-top-color: #ff470f;
}
.sumary .learn ul li[name=secondary]::before {
  border-right-color: #3273dc;
  border-top-color: #3273dc;
}
.sumary .learn ul li[name=third]::before {
  border-right-color: #48c774;
  border-top-color: #48c774;
}
.sumary .included {
  grid-area: included;
}
.sumary .included h2 {
  font-size: clamp(10px, 1.4rem, 3vw);
}
.sumary .included aside {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.sumary .included aside h3 {
  color: #fefefe;
  font-size: clamp(10px, 1.2rem, 3vw);
}
.sumary .included aside p {
  color: #777777;
  font-weight: 500;
}
.sumary .included aside img {
  max-width: 3rem;
  margin: 0 1rem 0 0;
}
.sumary .included aside img[name=second] {
  max-width: 3rem;
}
.sumary .included aside:nth-last-child(4) {
  margin-top: 50px;
}
.sumary .included aside p {
  line-height: 1.3rem;
  font-size: clamp(10px, 0.8rem, 4vw);
}
.sumary .included aside + aside {
  margin: 1rem 0;
}
.sumary .included .deluxe-container {
  border: 1px solid #3273dc;
  border-style: dotted;
  padding: 40px 40px 40px 30px;
  border-radius: 8px;
  position: relative;
}
.sumary .included .deluxe-container span {
  position: absolute;
  color: #3273dc;
  right: 20px;
  top: 10px;
  font-size: clamp(10px, 0.8rem, 3vw);
}
.sumary .included .deluxe-container hr {
  margin: 30px 0;
  height: 0;
  color: #3d3d3d;
}

@media screen and (max-width: 925px) {
  .header ul li {
    font-size: clamp(10px, 0.7rem, 2vw);
    padding: 10px;
  }

  .header div img {
    max-width: 2rem;
  }

  .header li img {
    max-width: 1rem;
  }
}
@media screen and (max-width: 750px) {
  .header ul {
    display: none;
  }

  .main {
    grid-template-areas: "buy buy" "content content" "continents continents" "feedback feedback" "step step" "sumary sumary";
  }

  .main .card-buy-now {
    padding: 5rem 0;
  }

  .main .right-video {
    padding: 0 0;
    grid-area: content;
    max-width: 40rem;
  }

  .feedback-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 5rem 0 1rem 0;
  }

  .sumary {
    grid-template-columns: 1fr;
    grid-template-areas: "learn" "included";
  }
}
@media screen and (max-width: 630px) {
  .header ul {
    display: none;
  }
}
@media screen and (max-width: 460px) {
  .step {
    display: grid;
    justify-content: center;
  }

  .step-container .step {
    padding: 0;
    margin: 0.625em 0 2rem 0;
  }

  .step-container .step figure {
    place-items: start center;
  }
  .step-container .step figure img {
    max-width: 90%;
  }
}
